.sprite-heheokun { background-image: url('heheokun.png'); background-repeat: no-repeat; display: inline-block; }
.sprite-heheokun-heheokun_1 { width: 272px; height: 200px; background-position: -0px -9px; }
.sprite-heheokun-heheokun_15 { width: 85px; height: 99px; background-position: -744px -76px; }
.sprite-heheokun-heheokun_16 { width: 228px; height: 122px; background-position: -872px -77px; }
.sprite-heheokun-heheokun_18 { width: 77px; height: 106px; background-position: -109px -222px; }
.sprite-heheokun-heheokun_19 { width: 63px; height: 104px; background-position: -205px -223px; }
.sprite-heheokun-heheokun_20 { width: 53px; height: 104px; background-position: -299px -223px; }
.sprite-heheokun-heheokun_21 { width: 76px; height: 104px; background-position: -375px -224px; }
.sprite-heheokun-heheokun_22 { width: 69px; height: 101px; background-position: -579px -225px; }
.sprite-heheokun-heheokun_23 { width: 73px; height: 101px; background-position: -740px -225px; }
.sprite-heheokun-heheokun_24 { width: 69px; height: 101px; background-position: -829px -225px; }
.sprite-heheokun-heheokun_25 { width: 78px; height: 101px; background-position: -912px -225px; }
.sprite-heheokun-heheokun_26 { width: 70px; height: 101px; background-position: -1005px -225px; }
.sprite-heheokun-heheokun_27 { width: 76px; height: 94px; background-position: -493px -232px; }
.sprite-heheokun-heheokun_28 { width: 62px; height: 96px; background-position: -660px -230px; }
.sprite-heheokun-heheokun_30 { width: 76px; height: 88px; background-position: -100px -347px; }
.sprite-heheokun-heheokun_31 { width: 76px; height: 87px; background-position: -197px -348px; }
.sprite-heheokun-heheokun_32 { width: 74px; height: 85px; background-position: -293px -348px; }
.sprite-heheokun-heheokun_33 { width: 75px; height: 84px; background-position: -387px -349px; }
.sprite-heheokun-heheokun_34 { width: 75px; height: 83px; background-position: -493px -351px; }
.sprite-heheokun-heheokun_35 { width: 78px; height: 84px; background-position: -594px -351px; }
.sprite-heheokun-heheokun_36 { width: 79px; height: 85px; background-position: -690px -348px; }
.sprite-heheokun-heheokun_37 { width: 75px; height: 84px; background-position: -792px -349px; }
.sprite-heheokun-heheokun_38 { width: 73px; height: 85px; background-position: -891px -348px; }
.sprite-heheokun-heheokun_39 { width: 67px; height: 85px; background-position: -990px -348px; }
.sprite-heheokun-heheokun_42 { width: 89px; height: 86px; background-position: -417px -447px; }
.sprite-heheokun-heheokun_43 { width: 78px; height: 78px; background-position: -120px -455px; }
.sprite-heheokun-heheokun_44 { width: 77px; height: 82px; background-position: -216px -451px; }
.sprite-heheokun-heheokun_45 { width: 81px; height: 79px; background-position: -313px -454px; }
.sprite-heheokun-heheokun_46 { width: 90px; height: 80px; background-position: -517px -453px; }
.sprite-heheokun-heheokun_47 { width: 105px; height: 77px; background-position: -623px -456px; }
.sprite-heheokun-heheokun_48 { width: 104px; height: 79px; background-position: -906px -454px; }
.sprite-heheokun-heheokun_49 { width: 173px; height: 140px; background-position: -937px -528px; }
.sprite-heheokun-heheokun_51 { width: 151px; height: 103px; background-position: -780px -541px; }
.sprite-heheokun-heheokun_52 { width: 108px; height: 98px; background-position: -169px -546px; }
.sprite-heheokun-heheokun_53 { width: 101px; height: 91px; background-position: -285px -553px; }
.sprite-heheokun-heheokun_54 { width: 82px; height: 95px; background-position: -497px -549px; }
.sprite-heheokun-heheokun_55 { width: 59px; height: 84px; background-position: -577px -552px; }
.sprite-heheokun-heheokun_56 { width: 28px; height: 37px; background-position: -687px -548px; }
.sprite-heheokun-heheokun_57 { width: 93px; height: 88px; background-position: -395px -556px; }
.sprite-heheokun-heheokun_58 { width: 78px; height: 79px; background-position: -83px -564px; }
.sprite-heheokun-heheokun_59 { width: 141px; height: 81px; background-position: -634px -562px; }
.sprite-heheokun-heheokun_60 { width: 70px; height: 86px; background-position: -208px -650px; }
.sprite-heheokun-heheokun_61 { width: 74px; height: 77px; background-position: -296px -658px; }
.sprite-heheokun-heheokun_62 { width: 86px; height: 73px; background-position: -103px -663px; }
.sprite-heheokun-heheokun_63 { width: 76px; height: 76px; background-position: -397px -659px; }
.sprite-heheokun-heheokun_64 { width: 72px; height: 77px; background-position: -606px -658px; }
.sprite-heheokun-heheokun_66 { width: 87px; height: 72px; background-position: -495px -664px; }
.sprite-heheokun-heheokun_67 { width: 104px; height: 55px; background-position: -693px -682px; }
.sprite-heheokun-heheokun_68 { width: 108px; height: 46px; background-position: -817px -690px; }
.sprite-heheokun-heheokun_69 { width: 139px; height: 36px; background-position: -943px -702px; }
.sprite-heheokun-heheokun_70 { width: 181px; height: 107px; background-position: -6px -745px; }
.sprite-heheokun-heheokun_71 { width: 69px; height: 104px; background-position: -417px -748px; }
.sprite-heheokun-heheokun_72 { width: 75px; height: 99px; background-position: -218px -753px; }
.sprite-heheokun-heheokun_73 { width: 86px; height: 95px; background-position: -308px -757px; }
.sprite-heheokun-heheokun_74 { width: 64px; height: 99px; background-position: -513px -753px; }
.sprite-heheokun-heheokun_75 { width: 67px; height: 100px; background-position: -605px -752px; }
.sprite-heheokun-heheokun_76 { width: 78px; height: 104px; background-position: -778px -748px; }
.sprite-heheokun-heheokun_77 { width: 67px; height: 99px; background-position: -697px -753px; }
.sprite-heheokun-heheokun_78 { width: 85px; height: 41px; background-position: -7px -864px; }
.sprite-heheokun-heheokun_79 { width: 35px; height: 36px; background-position: -100px -871px; }
.sprite-heheokun-heheokun_80 { width: 34px; height: 36px; background-position: -152px -871px; }
.sprite-heheokun-heheokun_81 { width: 35px; height: 37px; background-position: -204px -871px; }
.sprite-heheokun-heheokun_82 { width: 35px; height: 37px; background-position: -256px -871px; }
.sprite-heheokun-heheokun_83 { width: 35px; height: 37px; background-position: -306px -871px; }
.sprite-heheokun-heheokun_84 { width: 35px; height: 37px; background-position: -358px -871px; }
.sprite-heheokun-heheokun_85 { width: 34px; height: 37px; background-position: -410px -871px; }
.sprite-heheokun-heheokun_86 { width: 35px; height: 37px; background-position: -461px -871px; }
.sprite-heheokun-heheokun_87 { width: 35px; height: 37px; background-position: -515px -872px; }
.sprite-heheokun-heheokun_88 { width: 35px; height: 36px; background-position: -570px -873px; }
.sprite-heheokun-heheokun_89 { width: 34px; height: 37px; background-position: -624px -873px; }
.sprite-heheokun-heheokun_90 { width: 29px; height: 37px; background-position: -674px -873px; }
.sprite-heheokun-heheokun_91 { width: 31px; height: 37px; background-position: -722px -873px; }
.sprite-heheokun-heheokun_92 { width: 31px; height: 38px; background-position: -772px -872px; }
.sprite-heheokun-heheokun_93 { width: 56px; height: 37px; background-position: -818px -872px; }
.sprite-heheokun-heheokun_94 { width: 46px; height: 40px; background-position: -877px -871px; }
.sprite-heheokun-heheokun_95 { width: 44px; height: 39px; background-position: -935px -872px; }
.sprite-heheokun-heheokun_96 { width: 45px; height: 41px; background-position: -990px -871px; }
.sprite-heheokun-heheokun_97 { width: 42px; height: 37px; background-position: -1047px -873px; }
.sprite-heheokun-heheokun_98 { width: 161px; height: 23px; background-position: -8px -923px; }
.sprite-heheokun-heheokun_99 { width: 78px; height: 79px; background-position: -736px -922px; }
.sprite-heheokun-heheokun_100 { width: 42px; height: 57px; background-position: -682px -934px; }
.sprite-heheokun-heheokun_101 { width: 61px; height: 60px; background-position: -821px -930px; }
.sprite-heheokun-heheokun_102 { width: 64px; height: 71px; background-position: -1035px -927px; }
.sprite-heheokun-heheokun_103 { width: 69px; height: 58px; background-position: -370px -933px; }
.sprite-heheokun-heheokun_104 { width: 90px; height: 42px; background-position: -444px -936px; }
.sprite-heheokun-heheokun_105 { width: 55px; height: 53px; background-position: -611px -934px; }
.sprite-heheokun-heheokun_106 { width: 70px; height: 64px; background-position: -892px -932px; }
.sprite-heheokun-heheokun_107 { width: 61px; height: 42px; background-position: -304px -942px; }
.sprite-heheokun-heheokun_108 { width: 76px; height: 37px; background-position: -533px -940px; }
.sprite-heheokun-heheokun_109 { width: 34px; height: 41px; background-position: -987px -950px; }
.sprite-heheokun-heheokun_110 { width: 75px; height: 21px; background-position: -60px -962px; }
.sprite-heheokun-heheokun_111 { width: 183px; height: 21px; background-position: -8px -1005px; }
.sprite-heheokun-heheokun_112 { width: 101px; height: 88px; background-position: -1003px -1008px; }
.sprite-heheokun-heheokun_113 { width: 71px; height: 78px; background-position: -195px -1016px; }
.sprite-heheokun-heheokun_114 { width: 71px; height: 78px; background-position: -292px -1016px; }
.sprite-heheokun-heheokun_115 { width: 71px; height: 78px; background-position: -392px -1016px; }
.sprite-heheokun-heheokun_116 { width: 70px; height: 78px; background-position: -491px -1016px; }
.sprite-heheokun-heheokun_117 { width: 68px; height: 73px; background-position: -590px -1016px; }
.sprite-heheokun-heheokun_118 { width: 105px; height: 56px; background-position: -667px -1015px; }
.sprite-heheokun-heheokun_119 { width: 105px; height: 56px; background-position: -778px -1015px; }
.sprite-heheokun-heheokun_120 { width: 106px; height: 56px; background-position: -888px -1015px; }
.sprite-heheokun-heheokun_121 { width: 146px; height: 75px; background-position: -22px -1031px; }
.sprite-heheokun-heheokun_122 { width: 25px; height: 22px; background-position: -702px -1063px; }
.sprite-heheokun-heheokun_123 { width: 23px; height: 22px; background-position: -816px -1063px; }
.sprite-heheokun-heheokun_124 { width: 23px; height: 22px; background-position: -925px -1063px; }
.sprite-heheokun-heheokun_125 { width: 166px; height: 84px; background-position: -917px -1098px; }
.sprite-heheokun-heheokun_126 { width: 83px; height: 48px; background-position: -135px -1110px; }
.sprite-heheokun-heheokun_127 { width: 88px; height: 49px; background-position: -239px -1109px; }
.sprite-heheokun-heheokun_128 { width: 91px; height: 51px; background-position: -341px -1107px; }
.sprite-heheokun-heheokun_129 { width: 55px; height: 48px; background-position: -456px -1123px; }
.sprite-heheokun-heheokun_130 { width: 56px; height: 52px; background-position: -552px -1122px; }
.sprite-heheokun-heheokun_131 { width: 25px; height: 21px; background-position: -599px -1119px; }
.sprite-heheokun-heheokun_132 { width: 57px; height: 53px; background-position: -653px -1121px; }
.sprite-heheokun-heheokun_133 { width: 57px; height: 48px; background-position: -834px -1118px; }
.sprite-heheokun-heheokun_134 { width: 60px; height: 37px; background-position: -746px -1124px; }
.sprite-heheokun-heheokun_135 { width: 216px; height: 24px; background-position: -7px -1166px; }
.sprite-heheokun-heheokun_136 { width: 194px; height: 117px; background-position: -750px -1182px; }
.sprite-heheokun-heheokun_137 { width: 92px; height: 106px; background-position: -651px -1187px; }
.sprite-heheokun-heheokun_138 { width: 93px; height: 105px; background-position: -396px -1194px; }
.sprite-heheokun-heheokun_139 { width: 97px; height: 90px; background-position: -5px -1201px; }
.sprite-heheokun-heheokun_140 { width: 42px; height: 64px; background-position: -109px -1206px; }
.sprite-heheokun-heheokun_141 { width: 126px; height: 93px; background-position: -255px -1202px; }
.sprite-heheokun-heheokun_142 { width: 143px; height: 100px; background-position: -502px -1199px; }
.sprite-heheokun-heheokun_143 { width: 94px; height: 85px; background-position: -133px -1207px; }
.sprite-heheokun-heheokun_144 { width: 40px; height: 83px; background-position: -203px -1216px; }
.sprite-heheokun-heheokun_145 { width: 62px; height: 38px; background-position: -981px -1226px; }
.sprite-heheokun-heheokun_146 { width: 30px; height: 22px; background-position: -1048px -1231px; }
.sprite-heheokun-heheokun_147 { width: 121px; height: 23px; background-position: -7px -1305px; }
.sprite-heheokun-heheokun_148 { width: 51px; height: 60px; background-position: -365px -1325px; }
.sprite-heheokun-heheokun_149 { width: 59px; height: 66px; background-position: -420px -1322px; }
.sprite-heheokun-heheokun_150 { width: 81px; height: 65px; background-position: -616px -1321px; }
.sprite-heheokun-heheokun_151 { width: 83px; height: 62px; background-position: -709px -1322px; }
.sprite-heheokun-heheokun_152 { width: 46px; height: 52px; background-position: -171px -1333px; }
.sprite-heheokun-heheokun_153 { width: 49px; height: 52px; background-position: -308px -1331px; }
.sprite-heheokun-heheokun_154 { width: 63px; height: 58px; background-position: -484px -1327px; }
.sprite-heheokun-heheokun_155 { width: 25px; height: 36px; background-position: -364px -1333px; }
.sprite-heheokun-heheokun_156 { width: 39px; height: 46px; background-position: -818px -1333px; }
.sprite-heheokun-heheokun_157 { width: 38px; height: 47px; background-position: -868px -1331px; }
.sprite-heheokun-heheokun_158 { width: 27px; height: 24px; background-position: -921px -1329px; }
.sprite-heheokun-heheokun_159 { width: 28px; height: 43px; background-position: -293px -1337px; }
.sprite-heheokun-heheokun_160 { width: 51px; height: 50px; background-position: -554px -1336px; }
.sprite-heheokun-heheokun_161 { width: 48px; height: 52px; background-position: -970px -1333px; }
.sprite-heheokun-heheokun_162 { width: 67px; height: 53px; background-position: -1035px -1332px; }
.sprite-heheokun-heheokun_163 { width: 32px; height: 32px; background-position: -28px -1342px; }
.sprite-heheokun-heheokun_164 { width: 46px; height: 44px; background-position: -69px -1342px; }
.sprite-heheokun-heheokun_165 { width: 36px; height: 35px; background-position: -124px -1352px; }
.sprite-heheokun-heheokun_166 { width: 22px; height: 22px; background-position: -229px -1358px; }
.sprite-heheokun-heheokun_167 { width: 29px; height: 26px; background-position: -921px -1355px; }
